.vscode/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/metamark/metamark-editor/node_modules
/metamark/metamark-editor/dist
/metamark/metamark-editor/build
/metamark/metamark-editor/public/
/metamark/metamark-editor/src/assets/
